@model IEnumerable<POSCHAR.Models.Purchase>

@{ ViewData["Title"] = "Index"; }

<script>
    function changeSelect() {
        $valor = document.getElementById("searchtext").value
        $.ajax({
            url: 'Purchases/Index',
            data: { search: $valor },
            type: 'POST'
        }).done(function (responseData) {
            $("#bodypanel").html('')
            $("#bodypanel").html(responseData)
            console.log('Done: ', responseData);
        }).fail(function () {
            console.log('Failed');
        });
    }
    document.addEventListener('keyup', function (event) {
        if (event.keyCode === 13 && !event.shiftKey) {
            changeSelect();
        }
    });
</script>

<h1>Compras</h1>

<p>
    <a asp-action="Create">Crear compra</a>
</p>

<p>
    <label>Buscar:</label>
    <input type="text" class="form-control" id="searchtext" name="searchtext" />
</p>

@foreach (var item in Model)
{
<div class="panel panel-primary" id="panel">
    <div class="panel-heading">
        <h1 class="panel-title">@item.Description</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4 hidden-sm hidden-md hidden-lg">Código</div>
            <div class="col-xs-4 col-md-3 hidden-xs">Código</div>
            <div class="col-xs-8 col-md-9">@item.Code</div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-3">Fecha</div>
            <div class="col-xs-8 col-md-9">@item.SaleOrderDate</div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-3">Estado</div>
            <div class="col-xs-8 col-md-9">@item.Stauts</div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-3">Cliente</div>
            <div class="col-xs-8 col-md-9">@item.Vendor.Name</div>
        </div>
    </div>
    <div class="panel-footer">
        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Ver detalle</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
    </div>
</div>}
